<h1 class="titlez">QUOTES APP</h1>
<div class =container>

<!--start of div1 -->
<div class="row">

    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
<!--end of div1 -->

<!--start of div2 -->
  <div class="div2">
    <div *ngFor='let quote of quotes; let i=index'>
        <div class =form-style>
          <i class="fas fa-quote-left leftvote"> </i>{{quote.message}}<i class="fas fa-quote-right rightvote"></i>
        </div>
      <ul>
          <div class= "votebtn" style="text-align:right">
            <button class = "btn" (click) = upvote(i)> <i class="fas fa-thumbs-up"></i> </button>
            <button class = "btn" (click) = downvote(i)> <i class="fas fa-thumbs-down"></i> </button>
            <div class="daterange">Submitted {{quote.inputDate|dateCount}} days ago</div>
          </div>
      </ul>
      <!--details button -->
      <button class = "btn btn-info" (click) = revealDetails(i)> Details </button>

      <!-- Quote details-->
      <app-quote-details *ngIf="quote.showDetails"[quote] = 'quote' (isComplete)='deleteQuote($event,i)'>
      </app-quote-details>
  
  </div>
</div>
<!--end of div2 -->
</div>
